# https://docs.docker.com/build/concepts/context/#dockerignore-files
/.ackrc
/compose.yml
/coverage
/.dockerignore
/.DS_Store
/.editorconfig
/.git
/.github
/.gitignore
/jest.config.json
/LICENSE.txt
/node_modules
/nodemon.json
/.prettierignore
/.prettierrc.yml
/README.md
/tests
/tmp
/.tool-versions
